<div class="container new_register">
  <div class="row">
    <h1 class="text-center">Eventos</h1>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Número</th>
          <th>Imagen</th>
          <th>Título</th>
          <th>Fecha</th>
          <th>Horario</th>
          <th>Opciones</th>
        </thead>
        <% @events.each_with_index do |event,index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= image_tag event.image.url(:thumb) %></td>
            <td><%= event.title %></td>
            <td><%= event.event_date.strftime("%B %d, %Y") %></td>
            <td><%= event.start_hour.strftime("%l %p") %> a <%= event.end_hour.strftime("%l %p") %></td>
            <td><%= link_to "Editar", edit_event_path(event) %> - <%= link_to event_path(event.id), method: :delete, data: { confirm: '¿Are you sure?' } do %>Eliminar<% end %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center col-md-offset-3" id="btn-new-user">
      <%= link_to "Crear evento", new_event_path, class: "btn btn-lg btn-ar btn-success" %>
    </div>
</div>