<%= render 'layouts/navbar', other_page: true %>
<!--page title start-->
<div class="rock_page_title_main">
  <%= render 'rock_page_title_bg.html.erb' %>
  <div class="rock_page_title">
    <div class="container">
      <div class="rock_heading_div">
        <div class="rock_heading">
          <h1>Blog Categories</h1>
          <p>X</p>
        </div>
      </div>
      <div class="rock_pager">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="">Blog categories</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--page title end-->
<div class="blogcategory_container">
  <div class="col-lg-8 col-md-7 col-sm-8 blogcategory_big_part">
    <div class="rock_blog">
      <div class="blogcategory_image"> <img src="http://placehold.it/990x500" alt="" />
        <div class="blogcategory_image_overlay">
          <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
          <div class="rock_blog_detail">
            <h3>Aenean ultrices feugiat.</h3>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-user"></i> Glafira Lone</a></li>
                <li><a href=""><i class="fa fa-calendar"></i> 17 April 14</a></li>
                <li><a href=""><i class="fa fa-comments"></i> 114  Comments</a></li>
              </ul>
            </div>
            <p>Vivamus scelerisque mauris sit amet lacus apit. Curabitur bibendum, odio sed tempus egestas, risus lacus loere velit leo a quam. Vivamus bibendum felis ac urna pellentesque, id porttitollamcorper. Vivamus vitae vulputate massa. Suspendisse scelerisques imperdiet convallis, nisi urna dapibus odio, </p>
            <a href="" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
        </div>
      </div>
    </div>
    <div class="rock_blog">
      <div class="blogcategory_image"> <img src="http://placehold.it/990x500" alt="" />
        <div class="blogcategory_image_overlay">
          <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
          <div class="rock_blog_detail">
            <h3>Aenean ultrices feugiat.</h3>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-user"></i> Glafira Lone</a></li>
                <li><a href=""><i class="fa fa-calendar"></i> 17 April 14</a></li>
                <li><a href=""><i class="fa fa-comments"></i> 114  Comments</a></li>
              </ul>
            </div>
            <p>Vivamus scelerisque mauris sit amet lacus apit. Curabitur bibendum, odio sed tempus egestas, risus lacus loere velit leo a quam. Vivamus bibendum felis ac urna pellentesque, id porttitollamcorper. Vivamus vitae vulputate massa. Suspendisse scelerisques imperdiet convallis, nisi urna dapibus odio, </p>
            <a href="" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
        </div>
      </div>
    </div>
    <div class="rock_blog">
      <div class="blogcategory_image"> <img src="http://placehold.it/990x500" alt="" />
        <div class="blogcategory_image_overlay">
          <div class="photo_link"> <a href="single_page.html"><i class="fa fa-link"></i></a> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
          <div class="rock_blog_detail">
            <h3>Aenean ultrices feugiat.</h3>
            <div class="blog_entry_meta">
              <ul>
                <li><a href=""><i class="fa fa-user"></i> Glafira Lone</a></li>
                <li><a href=""><i class="fa fa-calendar"></i> 17 April 14</a></li>
                <li><a href=""><i class="fa fa-comments"></i> 114  Comments</a></li>
              </ul>
            </div>
            <p>Vivamus scelerisque mauris sit amet lacus apit. Curabitur bibendum, odio sed tempus egestas, risus lacus loere velit leo a quam. Vivamus bibendum felis ac urna pellentesque, id porttitollamcorper. Vivamus vitae vulputate massa. Suspendisse scelerisques imperdiet convallis, nisi urna dapibus odio, </p>
            <a href="" class="btn btn-arrow btn-4a icon-arrow-right">Read More</a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="rock_pagination">
          <ul>
            <li><a href=""><i class="fa fa-angle-double-left"></i></a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--sidebar start-->
  <div class="col-lg-4 col-md-5 col-sm-4 blogcategory_small_part">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="rock_sidebar">
          <h2>Rockon Club Track</h2>
          <div class="rock_audio_player">
            <div class="rock_audio_player_title"><span class="track_artist">Enrique</span> Escape is the second</div>
            <div class="rock_audio_player_track_image"> <img src="http://placehold.it/300x150" alt="track 1" />
              <div class="rock_audio_player_track_image_overlay">Escape is the second</div>
            </div>
            <div class="audio-player">
              <audio class="rock_player" src="<%= audio_path('Bailando.mp3') %>" type="audio/mp3" controls></audio>
            </div>
          </div>
        </div>
        <div class="rock_sidebar">
          <h2>Recent Posts</h2>
          <div class="rock_recent_post">
            <ul class="bxslider">
              <li> <img src="http://placehold.it/100x100" alt="post" />
                <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. </a>
                  <p><span class="label label-default">April 17, 2014</span></p>
                </div>
              </li>
              <li> <img src="http://placehold.it/100x100" alt="post" />
                <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. </a>
                  <p><span class="label label-default">April 17, 2014</span></p>
                </div>
              </li>
              <li> <img src="http://placehold.it/100x100" alt="post" />
                <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. </a>
                  <p><span class="label label-default">April 17, 2014</span></p>
                </div>
              </li>
              <li> <img src="http://placehold.it/100x100" alt="post" />
                <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. </a>
                  <p><span class="label label-default">April 17, 2014</span></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="rock_sidebar">
          <h2>Rockon Gallery</h2>
          <div class="rock_gallery">
            <ul>
              <li><a href=""><img src="http://placehold.it/75x75" alt=""/></a></li>
              <li><a href=""><img src="http://placehold.it/75x75" alt=""/></a></li>
              <li><a href=""><img src="http://placehold.it/75x75" alt=""/></a></li>
              <li><a href=""><img src="http://placehold.it/75x75" alt=""/></a></li>
              <li><a href=""><img src="http://placehold.it/75x75" alt=""/></a></li>
              <li><a href=""><img src="http://placehold.it/75x75" alt=""/></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--sidebar end-->
</div>
<div class="clearfix"></div>
<div class="rock_footer rock_padding_20">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_footer_logo"> <img src="<%= asset_path('Logo1.png') %>" alt="footer logo" /> </div>
        <h3>Location</h3>
        <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
        <h3>Opening Hours</h3>
        <p> MON - FRI  9 AM TO 10 PM</p>
        <h3>Happy Hours</h3>
        <p> MON - FRI  2 PM TO 06 PM</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_recent_post">
          <h3>Recent Posts</h3>
          <ul class="bxslider">
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
            <li> <img src="http://placehold.it/100x100" alt="post" />
              <div class="rock_post_detail"> <a href="">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. </a>
                <p><span class="label label-default">April 17, 2014</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="rock_twitter_feed">
          <h3>Twitter Feed</h3>
          <ul>
            <li> <i class="fa fa-twitter"></i>
              <div class="rock_feed"> <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
                <p><span class="label label-default">5 hour Ago</span></p>
              </div>
            </li>
            <li> <i class="fa fa-twitter"></i>
              <div class="rock_feed"> <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
                <p><span class="label label-default">5 hour Ago</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>