<div id="preloader">
  <div id="status"><img src="<%= asset_path('madbars.gif') %>" id="preloader_image" width="36" height="36" alt="loading image"/></div>
</div>
<!--pre loader end-->

<!--slider start-->
<div class="rock_slider_div">
  <section class="main">
    <div id="ri-grid" class="ri-grid ri-grid-size-3">
      <ul>  <!--Minimum 33 images required in this Rotating grid-->
        <!-- Background Images from AWS -->
        <% @background_images.each do |background_image| %>
          <li><a href="#"><img src="<%= background_image.image.url(:medium) %>" alt="" /></a></li>
        <% end %>
      </ul>
    </div>
  </section>
  <div class="rock_slider">
    <div id="carousel" class="carousel slide carousel-fade">
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% @slides.each do |slide| %>
          <div class="<% if slide.id == 1 %>active<% end %> item"><img class="animated bounceInRight"  src="<%= slide.image.url(:large) %>" alt="" />
            <div class="carousel-caption">
              <div class="rock_logo_slider"> <a href="index.html"><img class="animated bounceIn" src="<%= asset_path('Logo.png') %>" alt="" /></a> </div>
              <div class="rock_slider_content">
                <%= link_to slide.button_content, slide.button_link, class: "btn btn-default btn-lg rock_slider_btn animated fadeInDown" %>
                <p class="slider_welcome animated fadeInDown"> <i class="fa fa-quote-left"></i>&nbsp;&nbsp; <span class="label label-default"><%= slide.first_text %></span> <%= slide.second_text %>&nbsp;&nbsp; <i class="fa fa-quote-right"></i> </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--slider end-->

<%= render 'layouts/navbar', other_page: false %>

<!--main container start-->
<div class="rock_welcome_note">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1 class="rock_welcome"><strong><%= @copies.home_title_1 %></strong></h1>
        <p><%= @copies.home_text %></p>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12">
        <div class="rock_divider"></div>
      </div>
    </div>
  </div>
  <div class="rock_heading_div">
    <div class="rock_heading">
      <h1>Servicios</h1>
      <p>X</p>
    </div>
  </div>
  <div class="rock_service_div">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-4 col-md-4 col-sm-4 rock_service">
            <div class="rock_service_icon"> <img src="<%= asset_path('icono-2.png') %>" width="60" height="60" alt=""> </div>
            <h2><%= @copies.home_service_title_1 %></h2>
            <p><%= @copies.home_service_text_1 %></p>
            <div class="rock_service_read_more"> <a href="<%= @copies.home_service_link_1 %>"> Leer Más <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="20px" viewBox="0 0 104.08 94.747" enable-background="new 0 0 104.08 94.747" xml:space="preserve">
              <path d="M104.08,47.374L56.707,94.747l-1.414-1.414l45.959-45.959L55.293,1.414L56.707,0L104.08,47.374z M100.112,46.374H0v2
  h100.112V46.374z"/>
              </svg> </a> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 rock_service">
            <div class="rock_service_icon"> <img src="<%= asset_path('icono-1.png') %>" width="60" height="60" alt=""> </div>
            <h2><%= @copies.home_service_title_2 %></h2>
            <p><%= @copies.home_service_text_2 %></p>
            <div class="rock_service_read_more"> <a href="<%= @copies.home_service_link_2 %>"> Leer Más <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="20px" viewBox="0 0 104.08 94.747" enable-background="new 0 0 104.08 94.747" xml:space="preserve">
              <path d="M104.08,47.374L56.707,94.747l-1.414-1.414l45.959-45.959L55.293,1.414L56.707,0L104.08,47.374z M100.112,46.374H0v2
  h100.112V46.374z"/>
              </svg> </a> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 rock_service">
            <div class="rock_service_icon"> <img src="<%= asset_path('icono-3.png') %>" width="60" height="60" alt=""> </div>
            <h2><%= @copies.home_service_title_3 %></h2>
            <p><%= @copies.home_service_text_3 %></p>
            <div class="rock_service_read_more"> <a target="_blank" href="<%= @copies.home_service_link_3 %>"> Leer Más <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="20px" viewBox="0 0 104.08 94.747" enable-background="new 0 0 104.08 94.747" xml:space="preserve">
              <path d="M104.08,47.374L56.707,94.747l-1.414-1.414l45.959-45.959L55.293,1.414L56.707,0L104.08,47.374z M100.112,46.374H0v2
  h100.112V46.374z"/>
              </svg> </a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="rock_margin_30"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="rock_heading_div">
            <div class="rock_heading">
              <h1>Eventos del mes</h1>
              <p>X</p>
            </div>
          </div>
          <div class="rock_event">
            <% if @events.blank? %>
              <h1>No hay eventos disponibles</h1>
            <% else %>
              <div class="rock_event_tab">
                <ul>
                  <% @events.each_with_index do |event, index| %>
                    <li>
                      <a href="#tab<%= index+1 %>" class="active">
                        <p class="rock_event_date"><%= event.event_date.strftime("%d") %></p>
                        <p class="rock_event_month"><%= event.event_date.strftime("%B") %></p>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="rock_event_tab_content_main">
                <% @events.each_with_index do |event, index| %>
                  <div id="tab<%= index+1 %>" class="rock_event_tab_content">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-sm-12"><img class="animated fadeInLeft" src="<%= event.image.url(:home_size) %>" alt="" /> </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="rock_event_detail animated fadeInLeft">
                          <h4><%= event.title %></h4>
                          <p><%= event.description %></p>
                          <p><a href="javascript:void(0);" style="cursor: text;"><%= event.start_hour.strftime("%l %p") %> - <span><%= event.location %></span></a></p>
                          <h4>Compartir</h4>
                          <div class="rock_social">
                            <ul>
                              <li><a href=""><i class="fa fa-facebook"></i></a></li>
                              <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="rock_heading_div">
        <div class="rock_heading">
          <h1>Fotos</h1>
          <p>X</p>
        </div>
      </div>
      <div class="rock_club_photo">
        <div id="rock_club_photo_slider" class="owl-carousel owl-theme">
          <% if @home_pics.blank? %>
            <h1 class="text-center">No hay fotografías disponibles</h1>
          <% else %>
            <% @home_pics.each_slice(2) do |image_1, image_2| %>
              <div class="rock_club_photo_slider_item">
                <% if image_1 && image_1.photo %>
                  <div class="rock_club_photo_item"> <img src="<%= image_1.photo.url(:home_pic) %>" alt="" />
                    <div class="rock_club_photo_overlay">
                      <div class="photo_link animated fadeInDown"><a class="fancybox" data-fancybox-group="group1" href="<%= image_1.photo.url %>"><i class="fa fa-search-plus"></i></a> </div>
                      <a class="rock_club_photo_detail animated fadeInUp" href="">Ana Catalina</a> </div>
                  </div>
                <% end %>
                <% if image_2 && image_2.photo %>
                  <div class="rock_club_photo_item"> <img src="<%= image_2.photo.url(:home_pic) %>" alt="" />
                    <div class="rock_club_photo_overlay">
                      <div class="photo_link animated fadeInDown"><a class="fancybox" data-fancybox-group="group1" href="<%= image_2.photo.url %>"><i class="fa fa-search-plus"></i></a> </div>
                      <a class="rock_club_photo_detail animated fadeInUp" href="">Ana Catalina</a> </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="customNavigation"> <a class="rock_slider_button prev"><i class="fa fa-angle-left"></i></a> <a class="rock_slider_button next"><i class="fa fa-angle-right"></i></a> </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="rock_club_track_main">
        <div class="rock_club_track">
          <div class="rock_club_track_div">
            <div class="col-lg-8 col-md-12 col-sm-12">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <div class="rock_audio_player">
                    <div class="rock_audio_player_title"><span class="track_artist"><%= @last_track.author %></span> <%= @last_track.name %></div>
                    <div class="rock_audio_player_track_image"> <img src="<%= @last_track.image.url(:medium) %>" alt="track 1" />
                      <div class="rock_audio_player_track_image_overlay"><%= @last_track.author %></div>
                    </div>
                    <div class="audio-player">
                      <audio class="rock_player" src="<%= @last_track_audio.audio.url %>" type="audio/mp3" controls></audio>
                    </div>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                  <div class="rock_track_playlist">
                    <h1><span class="label label-default">Últimas</span> Canciones</h1>
                    <ul class="rock_track_playlist_slider">
                      <% @music_tracks.each_with_index do |music_track, index| %>
                        <li> <img src="<%= music_track.image.url(:thumb) %>" alt="track artist" />
                          <div class="rock_track_detail"> <a href="" class="rock_track_title"><span class="rock_track_artist"><%= music_track.name %></span> </a>
                            <p> <span class="rock_rating">

                              </span> </p>
                            <a data-toggle="modal" data-target=".myModal-<%= index+1 %>" class="rock_track_play btn btn-default btn-sm">Reproducir</a>
                            <div class="rock_social sh1">
                            </div>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                    <div class="rock_playlist_slider_control"> <span id="rock_track_playlist_slider_prev"></span> <span id="rock_track_playlist_slider_next"></span> </div>
                  </div>
                </div>
              </div>
            </div>

            <% @music_tracks.each_with_index do |music_track, index| %>
              <div class="modal animated bounceIn myModal-<%= index+1 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title rock_audio_player_title" id="myModalLabel"> <span class="track_artist"><%= music_track.author %> :</span> <%= music_track.name %> </h4>
                    </div>
                    <div class="modal-body">
                      <div class="rock_audio_player">
                        <div class="rock_audio_player_track_image"> <img src="<%= music_track.image.url(:large) %>" alt="track 1" />
                          <div class="rock_audio_player_track_image_overlay"><%= music_track.name %></div>
                        </div>
                        <div class="audio-player">
                          <audio class="rock_player" src="<%= music_track.tracks.first.audio.url %>" type="audio/mp3" controls></audio>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="col-lg-4 col-md-8 col-sm-12 col-lg-offset-0 col-md-offset-2 col-sm-offset-0">
              <div class="rock_vip_book">
                <h2><span class="label label-default"><%= @copies.contact_title %></span></h2>
                <p><%= @copies.contact_text %></p>
                <p><a href=""><i class="fa fa-phone"></i> <%= @copies.contact_phone_1 %></a></p>
                <p><a href=""><i class="fa fa-mobile-phone"></i> <%= @copies.contact_phone_2 %></a></p>
                <%= link_to "Dejar un mensaje", contact_path, class: "btn btn-default btn-lg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</div>

<!--main container end