<div class="field form-group">
  <%= gallery.label :title, "Nombre:", class: "lead lead-lg" %>
  <%= gallery.text_field :title, required: true, class: "form-control", id: "new_user_email" %>
</div>

<div class="field form-group">
  <%= gallery.label :description, "Descripción:", class: "lead lead-lg" %>
  <%= gallery.text_area :description, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
</div>

<div class="field form-group">
  <%= gallery.label :avatar, "Imagen:", class: "lead lead-lg block-label" %>
  <% if @gallery.avatar.url != "http://i592.photobucket.com/albums/tt5/Mardini03/imagen-no-disponible.png" %>
    <div class="col-md-12">
      <div class="col-md-3">
        <%= image_tag gallery.object.avatar.url(:thumb) %>
      </div>
      <div class="col-md-9">
        <div class="form-group reg-email">
          <div>
            <%= gallery.file_field :avatar, class: "input-file" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= gallery.file_field :avatar, required: true, class: "input-file" %>
  <% end %>
</div>

<div class="actions form-group text-center">
  <%= link_to "Cancelar", galleries_path, :class => 'btn btn-lg btn-danger' %>
  <%= gallery.submit "Guardar Información", :class => 'btn btn-lg btn-success' %>
</div>