<% if other_page == true %>
  <header id="rock_header_other_page">
<% else %>
  <header id="rock_header">
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="rock_logo"><%= link_to "<img src='#{asset_path('Logo1.png')}' alt='logo' />".html_safe, root_path %></div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="rock_menu_toggle navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu <i class="fa fa-bars"></i></div>
          <div class="rock_menu">
            <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <li><%= link_to "Galería", pictures_path %></li>
              <li><%= link_to "Eventos", coming_events_path %></li>
              <li><%= link_to "Blog", blog_path %></li>
              <li><%= link_to "Contacto", contact_path %></li>
              <% if user_signed_in? %>
                <li class="active"><a>Admin</a>
                  <ul class="sub-menu">
                    <li><%= link_to "Galerías", galleries_path %></li>
                    <li><%= link_to "Música", music_tracks_path %></li>
                    <li><%= link_to "Eventos", events_path %></li>
                    <li><%= link_to "Blog", blog_entries_path %></li>
                    <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--header end-->